<%- include('../template/header') %>
<main>
  <h1>Usuários</h1>
  <% users.map(user => { %>
  <p><%= user.firstName %> <%= user.lastName %></p>
  <% }) %>
</main>
<%- include('../template/footer') %>
